logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js

app/**/*.js
test/**/*.js
config/config.local.ts
config/config.prod.ts
app/**/*.map
test/**/*.map
config/**/*.map